{% extends 'player/base.html' %}


{% block title %}{{ page_title }}{% endblock%}


{% load staticfiles %}


{% block content %}
        <h1 align="center"><i><b>{{ page_title }}</b></i></h1>

        {% if messages %}
          <ul class="list-group">
          {% for message in messages %}
            <p class="list-group-item list-group-item-success">
            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
              {{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-primary" type="submit" value="Сохранить" />
          <a class="btn btn-default" href="{% url 'player:detail' request.user.player.id %}"
             role="button">Отменить</a>
        </form>
{% endblock content %}