<div class="w3-top">
    <div class="w3-bar w3-card-4 w3-teal">
        <div style="width:80%; margin-left:12%; margin-right:10%">
            <input type="button" class="w3-bar-item w3-button" value="Home">
            <input type="button" class="w3-bar-item w3-button w3-right" value="Registered">
            <input type="button" class="w3-bar-item w3-button w3-right" value="Login">
            <span class="w3-bar-item w3-mobile w3-right"> Hi {{user.firstName}}!</span>
        </div>
    </div>
</div>

<sidebar></sidebar>