<div class="w3-container w3-margin w3-padding-32">
  <!-- Sidebar -->
<div class="w3-sidebar w3-card-4 w3-teal w3-bar-block" style="width:14%; margin-left:10%; margin-right:10%">
  <input (click)="toggle('profile')" type="button" class="w3-bar-item w3-button" value="My profile">
  <input (click)="toggle('news')" type="button" class="w3-bar-item w3-button" value="News">
  <input (click)="toggle('games')" type="button" class="w3-bar-item w3-button" value="Games">
  <input (click)="toggle('records')" type="button" class="w3-bar-item w3-button" value="Record table">
</div>

<!-- Page Content -->
<div style="margin-left:25%; margin-right:10%">
  <div *ngIf="section == 'profile'">
	<profile></profile>
  </div>
  <div *ngIf="section == 'news'">
	<not-found></not-found>
  </div>
  <div *ngIf="section == 'games'">
	<not-found></not-found>
  </div>
  <div *ngIf="section == 'records'">
	<record></record>
  </div>
</div>
</div>