<div class="w3-row-padding">
    <div class="w3-col">
        <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Record table</h2>
            <div class="w3-container">
                <div class="w3-row-padding">
                    <div class="w3-third">
                        <input (click)="toggle('all')" type="button" class=" w3-button w3-large w3-teal w3-hover-white" style="width:100%" value="All">
                    </div>
                    <div class="w3-third">
                        <input (click)="toggle('gallows')" type="button" class=" w3-button w3-large w3-teal w3-hover-white" style="width:100%" value="Gallows">
                    </div>
                    <div class="w3-third">
                        <input (click)="toggle('tic-tac-toe')" type="button" class=" w3-button w3-large w3-teal w3-hover-white" style="width:100%" value="Tic-Tac-Toe">
                    </div>
            </div>
            <hr>
            <div class="w3-container">
                <recordTable [records]="records"></recordTable>
                <hr>
            </div>
        </div>
    </div>
</div>
