<div class="w3-row-padding">
    <div class="w3-col">

        <div class="w3-container w3-card-4 w3-white w3-margin-bottom"><br>
            <img src="/assets/img/user_yevheniia.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h4>Game 1</h4>
            <span class="w3-opacity">1 min</span>
            <br>
            <hr class="w3-clear">
            <p>New update in the Game 1</p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-text-teal"><i class="fa fa-thumbs-up fa-fw w3-xlarge w3-text-teal"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom w3-text-teal"><i class="fa fa-comment fa-fw w3-xlarge w3-text-teal"></i>  Comment</button>
        </div>

        <div class="w3-container w3-card-4 w3-white w3-margin-bottom"><br>
            <img src="/assets/img/user_yevheniia.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h4>Game 2</h4>
            <span class="w3-opacity">2 min</span>
            <br>
            <hr class="w3-clear">
            <p>New update in the Game 2</p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-text-teal"><i class="fa fa-thumbs-up fa-fw w3-xlarge w3-text-teal"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom w3-text-teal"><i class="fa fa-comment fa-fw w3-xlarge w3-text-teal"></i>  Comment</button>
        </div>

        <div class="w3-container w3-card-4 w3-white w3-margin-bottom"><br>
            <img src="/assets/img/user_yevheniia.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px">
            <h4>Game 3</h4>
            <span class="w3-opacity">3 min</span>
            <br>
            <hr class="w3-clear">
            <p>New update in the Game 3</p>
            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-text-teal"><i class="fa fa-thumbs-up fa-fw w3-xlarge w3-text-teal"></i>  Like</button>
            <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom w3-text-teal"><i class="fa fa-comment fa-fw w3-xlarge w3-text-teal"></i>  Comment</button>
        </div>

    </div>
</div>
