<div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
        <div class="w3-white w3-text-grey w3-card-4">
            <div class="w3-display-container">
                <img src="/assets/img/user_yevheniia.jpg" style="width:100%" alt="Avatar">
            </div>
            <div class="w3-container">
                <h4>{{user.firstName}} {{user.lastName}}</h4>
                <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.address}}</p>
                <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.email}}</p>
                <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>{{user.phone}}</p>
                <hr>
                <br>
            </div>
        </div><br>
    </div>
    <!-- Right Column -->
    <div class="w3-twothird">
        <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>General information</h2>
            <div class="w3-container">
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Name: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.firstName}}</h5></div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Surname: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.lastName}}</h5></div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Date of birth: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.dateOfBirth}}</h5></div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Gender: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.gender}}</h5></div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>City: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.address}}</h5></div>
                </div>
                <hr>
            </div>
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-globe fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Contact information: </h2>
            <div class="w3-container">
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Mobile phone: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.phone}}</h5></div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Email: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.email}}</h5></div>
                </div>
                <div class="w3-row-padding">
                    <div class="w3-col w3-container" style="width:35%"><h5 class="w3-opacity"><b>Skype: </b></h5></div>
                    <div class="w3-rest"><h5>{{user.skype}}</h5></div>
                </div>
                <hr>
            </div>
        </div>
        <div class="w3-container w3-card-4 w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>My records</h2>
            <div class="w3-container">
                <recordTable [players]="userRecord"></recordTable>
                <hr>
            </div>
        </div>
    </div>
</div>
