<div class="w3-row-padding">
    <div class="w3-col">
        <div class="w3-container w3-card-4 w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Record table</h2>
            <div class="w3-container">
                <div class="form-inline">
                    <div class="form-group">
                        <div class="col-md-8">
                            <input class="form-control" [(ngModel)]="record.player" placeholder="Player name" #player="ngModel" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="number" class="form-control" [(ngModel)]="record.record" placeholder="Record"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <select class="form-control" [(ngModel)]="record.game" #game="ngModel" required >
                                <option  *ngFor="let game of games" [value]="game">
                                    {{game}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-8">
                            <button [disabled]="player.invalid || game.invalid" class="btn btn-default" (click)="addRecord()">Add</button>
                        </div>
                    </div>
                </div>
                <div [hidden]="player.valid || player.untouched" class="alert alert-danger">
                    Please enter your login
                </div>
                <div [hidden]="game.valid || game.untouched" class="alert alert-danger">
                    Please choose game
                </div>
                <hr>
            </div>
            <div class="w3-container">
                <recordTable [records]="records"></recordTable>
                <hr>
            </div>
        </div>
    </div>
</div>
