<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-card-4" style="wight:14%;">
    <input routerLink="profile" type="button" class="w3-bar-item w3-button w3-margin-right w3-large w3-text-teal w3-hover-teal" value="My profile">
    <input routerLink="news" type="button" class="w3-bar-item w3-button w3-margin-right w3-large w3-text-teal w3-hover-teal" value="News">
    <input routerLink="games" type="button" class="w3-bar-item w3-button w3-margin-right w3-large w3-text-teal w3-hover-teal" value="Games">
    <input routerLink="records" type="button" class="w3-bar-item w3-button w3-margin-right w3-large w3-text-teal w3-hover-teal" value="Record table">
</div>

<!-- Page Content -->
<div style="margin-left:20%">
  <router-outlet></router-outlet>
</div>
