<div class="w3-row-padding">
  <div class="w3-col">
    <div *ngFor="let news of news | orderBy: 'news.news_date': true">
      <div class="w3-container w3-card-4 w3-white w3-margin-bottom"><br>
        <img src="/assets/img/user_yevheniia.jpg" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <h4>{{ news.news_title }}</h4>
        <span class="w3-opacity">{{ news.news_date | date : "medium" }}</span>
        <br>
        <hr class="w3-clear">
        <p>{{ news.news_text }}</p>
        <button (click)="addNewsLike(news.id, news.news_like)" type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-text-teal"><i
          class="fa fa-thumbs-up fa-fw w3-xlarge w3-text-teal"></i>  {{ news.news_like }}
        </button>
        <button  [routerLink]="['detail', news.id]" type="button" class="w3-button w3-theme-d2 w3-margin-bottom w3-text-teal"><i
          class="fa fa-comment fa-fw w3-xlarge w3-text-teal"></i>  Comment
        </button>
      </div>
    </div>
  </div>
</div>
